.bg-dark{
background-color:#000000!important
}

.navbar a {
font-family: 'Barlow', sans-serif;
}

body {
 font-family: 'Work Sans', sans-serif;
}

.jumbotron-text {
    font-size: 0.95rem;
}
h1, h2, h3, h4, h5, h6 {
 font-family: 'Crimson Text', serif;
}

.headerlight {
 color: white;
  padding-top: 50px;
}

.jumbotron {
  
  color: white;
  background-image: url("assets/images/heroimage2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.mountguide{
    background: #f9f5f4;
}

#wrapper { width: 710px; height: 1420px; padding: 0; overflow: hidden; }
03.
#scaled-frame { width: 1000px; height: 2000px; border: 0px; }
04.
#scaled-frame {
05.
zoom: 0.71;
06.
-moz-transform: scale(0.71);
07.
-moz-transform-origin: 0 0;
08.
-o-transform: scale(0.71);
09.
-o-transform-origin: 0 0;
10.
-webkit-transform: scale(0.71);
11.
-webkit-transform-origin: 0 0;
12.
}
13.
 
14.
@media screen and (-webkit-min-device-pixel-ratio:0) {
15.
#scaled-frame  { zoom: 1;  }
16.
}

.output {
    background: #eee;
}



.carousel{
    background: #ffffff;
    margin-top: 20px;
}
.carousel-item{
    text-align: center;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}

/* Footer */

.footer-text{
 font: verdana;
 font-size: 0.8rem;
}

/* Font Awesome Icons */

.fa {
  color: rgba(238, 236, 236, 0.562);
}

.fa:hover {
  color: rgb(187, 177, 177);
}